<a href="/students/new">Add New Student</a>
<% @students.each do |student| %>
<p>First Name: <%= student.first_name%></p>
<p>Second Name: <%= student.second_name%></p>
<p>House: <%= student.house_name%></p>
<p>Age: <%= student.age%></p>
<hr />
<% end %>
